@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}
/* header */
header {
  background: url('./images/developer.png'), url('./images/header_bg.png'),
    rgb(255, 248, 243);
  background-repeat: no-repeat;
  background-position: 5px 20px, right bottom;
} /* end header */

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  padding: 50px 0 0 0;
}
nav h3 {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
nav h3 span {
  color: rgb(253, 110, 10);
}
ul {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}
ul li a {
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
a {
  text-decoration: none;
}
.last-item {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 10px 20px;
  color: aliceblue;
  font-weight: 700;
  transition: background-color 0.6s ease-in-out;
}
.last-item:hover {
  background: rgb(148, 65, 5);
} /* end navbar */

/* banner */
.banner-container {
  display: flex;
  align-items: center;
  margin: 0 5% 0 10%;
  justify-content: space-between;
}
.banner-content p {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-content h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: -2px;
  margin-bottom: 20px;
}
.banner-content article {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.dow-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 10px 20px;
  width: 40%;
  transition: background-color 0.6s ease-in-out;
  cursor: pointer;
}
.dow-btn:hover {
  background-color: rgb(157, 70, 7);
}
.dow-btn img {
  width: 20%;
}
.dow-btn span {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
.contact-btn {
  padding: 15px 45px;
  box-sizing: border-box;
  border: 1px solid rgb(253, 110, 10);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.contact-btn span {
  color: rgb(253, 110, 10);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
}
.contact-btn img {
  width: 18%;
  margin-left: 5%;
}
.contact-btn:hover {
  background-color: rgb(253, 110, 10);
}
.contact-btn:hover span {
  color: #fff;
}
#white-phn {
  display: none;
}
.contact-btn:hover #white-phn {
  display: block;
}
.contact-btn:hover #org-phn {
  display: none;
}

.banner-img img {
  width: 584px;
  height: 680px;
  position: relative;
  bottom: -5px;
} /* end banner */

/* about section */
.about {
  margin: 130px 10%;
  padding: 100px 150px;
  background: rgb(255, 248, 243);
}
.about h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.about article {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 30px 0;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-info h5 {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.about-info p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
} /* end about section */

/* profession */
.profession {
  margin: 0 10%;
}
.profession h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.profession article {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 30px 12%;
}
.cards {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-top: 50px;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  height: 400px;
}
.card-1 h4,
.card-2 h4,
.card-3 h4,
.card-4 h4 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  margin: 30px 0 30px 0;
}
.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
} /* end profession */

/* resume */
.resume {
  padding: 150px 10%;
}
.resume h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 110px;
}
.resume-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.resume .education h3,
.experience h3 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.resume .education h4,
.experience h4 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

.resume .education h6,
.experience h6 {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.resume .education p,
.experience p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 30px;
  /* Dark 05 */
  border-bottom: 1px solid rgb(209, 209, 209);
}

.resume .education div:last-child p,
.resume .experience div:last-child p {
  border-bottom: none;
}

.cv-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 10px 25px;
  transition: background-color 0.9s ease-in-out;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border: 0;
  margin: 0 auto;
  margin-top: 50px;
}
.cv-btn:hover {
  background-color: rgba(176, 84, 17, 0.849);
}
.cv-btn img {
  width: 20%;
} /* end resume */

/* footer */
footer {
  padding: 130px 10%;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 248, 243);
}
.footer-content h2,
.form-footer h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.footer-content p {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.icons img {
  margin-right: 10px;
}

input,
textarea {
  padding: 18px 0;
  padding-left: 30px;
  border: 0;
  outline: 0;
  width: 100%;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin-bottom: 24px;
}

input::placeholder {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

#submit{
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  background-color: rgb(253, 110, 10);
  width: 20%;
  padding: 10px 20px;
  transition: background-color 0.5s ease-in-out;
}

#submit:hover{
  background-color: rgba(67, 32, 6, 0.866);
}/* end footer */

/* responsive media query */
@media screen and (max-width: 576px) {
  nav h3{
   font-size: 34px;
  }
  nav{
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
  }
  nav ul{
    gap: 10px;
    flex-direction: column;
  }
  
  .banner-container{
    flex-direction: column;
  }
  .banner-content p {
    font-size: 34px;
    line-height: 40px;
  }
  .banner-content h1{
    font-size: 48px;
    margin-bottom: 0px;
    line-height: 100px;
  }
  .banner-content article{
    font-size: 16px;
  }
  .banner-btns{
    flex-direction: column;
    gap: 5px;
  }
  .dow-btn{
    width: 32%;
    gap: 1px;
    padding: 5px 10px;
  }
  .dow-btn img{
    width: 20%;
  }
  .dow-btn span{
    font-size: 12px;
  }
  .contact-btn{
    width: 32%;
    gap: 10px;
    padding: 5px 10px;
  }
  .contact-btn img{
    width: 15%;
  }
  .contact-btn span{
    font-size: 12px;
  }
  .banner-img img {
  width: 100%;
  height: auto;
}
  .about{
    margin: 100px 10%;
    padding: 50px 30px;
  }
  .about h2{
    font-size: 24px;
  }
  .about article{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 14px;
  }
  .about-info{
    flex-direction: column;
  }
  .about-info h5{
    font-size: 16px;
  }
  .about-info p{
    font-size: 16px;
  }
  .profession h2{
    font-size: 24px;
  }
  .profession article{
    font-size: 14px;
    margin: 10px 12%;
  }
  .cards{
    flex-direction: column;
    gap: 15px;
  }
  .resume{
    padding-bottom: 50px;
    padding-top: 80px;
  }
  .resume-content{
    flex-direction: column;
  }
   .resume h2{
  margin-bottom: 20px;
  font-size: 20px;
}
.resume .education h3,
.experience h3{
  font-size: 17px;
  margin-bottom: 0px;
}
.resume .education h4,
.experience h4{
  margin-top: 15px;
  font-size: 14px;
}
.resume .education h6,
.experience h6{
  margin-bottom: 10px;
  font-size: 16px;
}
.resume .education p,
.experience p{
  font-size: 14px;
}
.cv-btn{
  font-size: 10px;
  padding: 5px 8px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}
.cv-btn img{
  width: 15%;
}
  footer{
    flex-direction: column;
    gap: 30px;
  }
  #submit{
    font-size: 16px;
    width: 30%;
  }
}
@media screen and (min-width: 576px) and (max-width:992px) {
  .banner-container{
    flex-direction: column;
  }
  .cards{
    flex-wrap: wrap;
    gap: 15px;
  }
  .resume-content{
    flex-direction: column;
  }
  .resume h2{
  margin-bottom: 10px;
  font-size: 24px;
}
.resume .education h3,
.experience h3{
  font-size: 20px;
  margin-bottom: 5px;
}
.resume .education h4,
.experience h4{
  margin-top: 15px;
  font-size: 14px;
}
.resume .education h6,
.experience h6{
  margin-bottom: 10px;
  font-size: 16px;
}
.resume .education p,
.experience p{
  font-size: 14px;
}
  footer{
    flex-direction: column;
    gap: 30px;
  }
  #submit{
    font-size: 16px;
    width: 20%;
  } 
}